body {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                background-color: plum;
            }
            h1 {
                font-family: "Times New Roman", Times, sans-serif;
            }
            #task {
                padding: 5px;
            }
            #task:hover {
                background-color: lightyellow;
            }
            #task:focus {
                border-color: slateblue;
                border-style: groove;
                border-width: 2px;
                cursor: pointer;
            }
            table {
                margin-right: auto;
                margin-left: auto;
            }
            tr {
                background-color: palegoldenrod;
            }
            td {
                text-align: center;
                font-family: Verdana, Helvetica, Arial, serif;
                font-weight: lighter;
                padding: 12px;
                border-style: inset;
                border-color: goldenrod;
                border-width: 2px;
                border-radius: 50px;
            }
            #add {
                height: 29px;
                width: 29px;
            }
           